#root {
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  height: 100vh;
  /* background-color: #fdfaff */
  font-family: 'Blinker', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

